{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title> Election Sénégal 2024</title>
        <link rel="stylesheet" href="{% static  'global.css'  %}">
        <link rel="stylesheet" href="{% static  'election2024\css\main.css'  %}">
    </head>
    <body>
        <h1>Bienvenue sur la plateforme Election Senegal 2024</h1>

        <h2> Donner vos Identifiants</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Soumettre</button>
        </form>
    </body>
</html>           
